.card{
	display: flex;
	a{
		text-decoration: none;
	}
}

.movie-poster {
	width: 150px;
	height: 200px;
}

.movie-details {
	padding: 1rem;
	background-color: #f9f9f9;
	a{
		text-decoration: none;
		color: #000;
	}
}

.movie-title {
	margin-top: 0;
	margin-bottom: 0.5rem;
}

.movie-overview {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 0.9rem;
}

.progress-bar {
	margin-top: 10px;
	display: flex;
	span{
		padding-top: 10px;
	}
}

.progress-circle {
	position: relative;
	width: 70px;
	height: 70px;	
}

.progress-number {
	position: absolute;
	top: 30%;
	left: 30%;
	transform: translate(-50%, -50%);
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}