<div class="main">
	<div class="sidebar">
		<h2>Sort by:</h2>
		<button mat-button (click)="sort('rating')">Rating</button>
		<button mat-button (click)="sort('release_date')">Release date</button>
		<button mat-button (click)="sort('title')">Title</button>
		<button mat-button (click)="sort('popularity')">Popularity</button>
	</div>
	<div class="mainbar">
		<div class="movie-list" *ngIf="!message">
			<div *ngFor="let movie of movieList$ | async" class="movie-card">
				<app-search-page-list [movie]="movie"></app-search-page-list>
			</div>
		</div>
		<div class="error" *ngIf="message">
			There are no movies that matched your query.
		</div>
	</div>
</div>

<button mat-icon-button (click)="scrollTop()" class="scroll-to-top" *ngIf="showScrollButton">
  <mat-icon>arrow_upward</mat-icon>
</button>
