.main{
	display: flex;
}
button.scroll-to-top {
  position: fixed;
  bottom: 70px;
  right: 130px;
	color: #ffffff;
  background-color: #05022e;
  border: none;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.scroll-to-top:hover {
  background-color: #999;
}
.sidebar{
	flex: 0 0 200px;

}

.mainbar{
	flex: 1 1 auto;
}

.movie-list {
	display: flex;
	flex-direction: column;
}

.movie-card {
	display: flex;
	flex-direction: row;
	margin: 1rem;
	border: 1px solid #ddd;
	border-radius: 0.5rem;
	overflow: hidden;
}

.error{
	text-align: center;
	font-size: 24px;
	margin: 25px 0px 0px 0px;
}

.sidebar{
	display: flex;
	flex-direction: column;
	h2{
		text-align: center;
		margin: 20px 0px 0px 0px;
		font-size: 26px;
	}
	button {
		text-align: center;
		background-color: #05022e;
		font-family: 'Montserrat';
		font-size: 12px;
		color: #ffffff;
		height: 40px;
		width: 100px;
		border-radius: 5px;
		margin: 10px 0px 10px 50px;
	}
	button:hover {
		color: #00d9ff;
	}
	
	button:active {
		transform: scale(0.95);
	}
}