
<div class="movie-details" [ngStyle]="{'background': 'linear-gradient(rgba(0,2,46, 0.8), rgba(5,2,46, 0.8)), url(https://image.tmdb.org/t/p/w1280' + movie.backdrop_path + ')'}">
	<div class="movie-details-poster">
		<img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" alt="{{ movie.title }}" class="movie-poster" (error)="setDefaultPoster($event)">
	</div>
	<div class="movie-details-info">
		<div class="movie-title">
			<h1>{{ movie.title }}</h1>
			<span>{{ movie.release_date | date}}</span>
		</div>
		<h2>{{ movie.tagline }}</h2>
		<div class="progress-bar" *ngIf="movie.vote_average">
			<div class="progress-circle">
				<div class="progress-number">{{ movie.vote_average }}</div>
				<svg>
					<circle [ngClass]="getRatingColor(movie.vote_average)" cx="35" cy="35" r="30" [style.strokeDashoffset]="getOffset(movie.vote_average)"></circle>

				</svg>
			</div>
			<span>User rating</span>
		</div>
		
		<div class="movie-metadata">
			<p> {{ movie.runtime }} minutes</p>
			<p> {{ getGenreNames(movie.genres)  }}</p>
			<p><strong>Overview</strong></p>
			<p>{{ movie.overview }}</p>
			<p *ngIf="movie.production_companies.length"><strong>Production Companies:</strong> {{ getProductionCompanies(movie.production_companies)}}</p>
		</div>
	</div>
</div>
