
<div class="movie-details" [ngStyle]="{'background': 'linear-gradient(rgba(0,2,46, 0.8), rgba(5,2,46, 0.8)), url(https://image.tmdb.org/t/p/w1280' + movie.backdrop_path + ')'}">
	<div class="movie-details-poster">
		<img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" alt="{{ movie.title }}" class="movie-poster" (error)="setDefaultPoster($event)">
	</div>
	<div class="movie-details-info">
		<div class="movie-title">
			<h1>{{ movie.title }}</h1>
			<span>{{ movie.release_date | date}}</span>
		</div>
		<h2>{{ movie.tagline }}</h2>
		<div class="progress-bar" *ngIf="movie.vote_average">
			<div class="progress-circle">
				<mat-spinner [value]="movie.vote_average * 10"[color]="getRatingColor(movie.vote_average)" diameter="70" mode="determinate"></mat-spinner>
				<div class="progress-number">{{ movie.vote_average | number: '1.1-1' }}</div>
			</div>
			<span>User rating</span>
		</div>
		<div class="movie-metadata">
			<p> {{ movie.runtime }} minutes</p>
			<p> {{ getGenreNames(movie.genres)  }}</p>
			<p><strong>Overview</strong></p>
			<p>{{ movie.overview }}</p>
			<p *ngIf="movie.production_companies.length"><strong>Production Companies:</strong> {{ getProductionCompanies(movie.production_companies)}}</p>
		</div>
		
	</div>
</div>
<ng-container *ngIf="videos?.length">
	<div class="videos-content">
		<h2>Videos</h2>
		<div class="videos-container mat-card-container">
			<mat-card *ngFor="let video of videos" class="video mat-card">
				<iframe [src]="getSafeUrl(video.key)"
								frameborder="0"
								width="300px"
								height="220px"
								allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
								allowfullscreen></iframe>
			</mat-card>
		</div>
	</div>
</ng-container>
<ng-container *ngIf="images?.length">
	<div class="images-content">
		<h2>Posters</h2>
		<div class="images-container">
			<mat-card *ngFor="let image of images" class="image">
				<img [src]="'https://image.tmdb.org/t/p/w500' + image.file_path" (click)="openDialog('https://image.tmdb.org/t/p/w500' + image.file_path)" (error)="setDefaultPoster($event)">
			</mat-card>
		</div>
	</div>
</ng-container>
<ng-container *ngIf="recomendations?.length">
	<div class="recommendations-content">
		<h2>Recommendations</h2>
		<div class="recommendations-container">
			<mat-card *ngFor="let recomendation of recomendations" class="recommendation">
				<a [routerLink]="['/movie']" [queryParams]="{ query: recomendation.id }" (click)="reloadPage()"><img [src]="'https://image.tmdb.org/t/p/w500' + recomendation.backdrop_path" (error)="setDefaultPoster($event)"></a>
				<span>{{recomendation.title}}</span>
			</mat-card>
		</div>
	</div>
</ng-container>





