@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
.container {
	max-width: 1200px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0 32px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
